<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col min-h-screen">
    <%- include("header.ejs") %>

    <!-- Main Content -->
    <div class="flex-grow grid grid-cols-6 mb-4">
      <div class="col-start-3 col-span-2">
        <h6 class="font-semibold text-gray-700 py-4">Create a new course</h6>
        <form action="/addcourse" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="py-3">
            <label for="coursename">Name of this course:</label>
            <input
              type="text"
              name="coursename"
              class="border border-gray-300 text-gray-900 rounded p-2 w-full"
            />
          </div>
          <div class="py-3">
            <label for="coursediscription">Discription:</label>
            <input
              type="text"
              name="coursediscription"
              class="border border-gray-300 text-gray-900 rounded p-2 w-full"
              required
            />
          </div>
          <div class="py-3">
            <button
              type="submit"
              class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2"
            >
              Add
            </button>
          </div>
        </form>

       
      </div>
    </div>

    <%- include("footer.ejs") %>
  </body>
</html>
