<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col min-h-screen">
    <%- include("header.ejs") %>
    <!-- Main Content -->
    <main class="flex-grow grid grid-cols-6 mb-4">
      <div class="col-start-2 col-span-4 p-4">
        <table class="table-auto w-full">
          <thead>
            
            <tr class="bg-gray-200">
              <th class="px-4 py-2">Course Name</th>
              <th class="px-4 py-2">Enrolled Students</th>
            </tr>
          </thead>
          <tbody>
            <% if (allCourses.length >0) { %>
             <% for( let i = 0; i < allCourses.length; i++ ) { %>             
              <tr>
                <td class="border px-4 py-2"><%= allCourses[i].dataValues.name %></td>
                <% if (allCourses[i].dataValues.report.length!=0) { %>
                  <td class="border px-4 py-2"><%= allCourses[i].dataValues.report[0].dataValues.student_count %></td>
                <% } else { %>
                  <td class="border px-4 py-2">0</td>
                  <% } %>
              </tr>
             <% } %>
            <% } %>
           
          </tbody>
        </table>
      </div>
    </main>

    <%- include("footer.ejs") %>
  </body>
</html>